In [1]:
%load_ext lab_black
%load_ext autoreload
%autoreload 2

In [2]:
import json
import re
from glob import glob

import pandas as pd

In [22]:
df = pd.read_csv(glob("*.csv")[-1])
display(df.head()[["place", "source", "contributors", "geo"]])
df.info()

,place,source,contributors,geo
0,None,"<a href=""http://twitter.com/download/android"" ...",None,None
1,None,"<a href=""http://twitter.com/download/android"" ...",None,None
2,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None
3,None,"<a href=""http://twitter.com/download/iphone"" r...",None,None
4,"{'id': '0af014accd6f6e99', 'url': 'https://api...","<a href=""http://twitter.com/download/android"" ...",None,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              594 non-null    int64
 1   geo                             594 non-null    object
 2   coordinates                     594 non-null    object
 3   place                           594 non-null    object
 4   contributors                    594 non-null    object
 5   is_quote_status                 594 non-null    bool
 6   quote_count                     594 non-null    int64
 7   reply_count                     594 non-null    int64
 8   retweet_count                   594 non-null    int64
 9   favorite_count                  594 non-null    int64
 10  favorited                       594 non-null    bool
 11  retweeted                       594 non-null    bool
 12  created_at                      594 non-null    object
 13  source                          594 non-null    object
 14  in_reply_to_user_id             594 non-null    object
 15  in_reply_to_screen_name         594 non-null    object
 16  source_text                     594 non-null    object
 17  place_id                        270 non-null    object
 18  place_url                       270 non-null    object
 19  place_place_type                270 non-null    object
 20  place_name                      270 non-null    object
 21  place_full_name                 270 non-null    object
 22  place_country_code              270 non-null    object
 23  place_country                   270 non-null    object
 24  place_bounding_box_type         270 non-null    object
 25  place_bounding_box_coordinates  594 non-null    object
 26  place_attributes                594 non-null    object
 27  coords_type                     0 non-null      float64
 28  coords_lon                      0 non-null      float64
 29  coords_lat                      0 non-null      float64
 30  geo_type                        0 non-null      float64
 31  geo_lon                         0 non-null      float64
 32  geo_lat                         0 non-null      float64
 33  user                            594 non-null    object
 34  screen_name                     594 non-null    object
 35  followers                       594 non-null    int64
 36  location                        594 non-null    object
 37  text                            594 non-null    object
dtypes: bool(3), float64(6), int64(6), object(23)
memory usage: 164.3+ KB

In [6]:
df[df.columns[df.columns.str.contains("coord|source|place|geo")]]

,geo,coordinates,place,source,source_text,place_id,place_url,place_place_type,place_name,place_full_name,...,place_country,place_bounding_box_type,place_bounding_box_coordinates,place_attributes,coords_type,coords_lon,coords_lat,geo_type,geo_lon,geo_lat
0,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[[]],{},NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,"{'id': '5e7737e30a23d4ba', 'url': 'https://api...","<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,5e7737e30a23d4ba,https://api.twitter.com/1.1/geo/id/5e7737e30a2...,city,Frome,"Frome, England",...,United Kingdom,Polygon,"[[[-2.340935, 51.214783], [-2.340935, 51.24668...",{},NaN,NaN,NaN,NaN,NaN,NaN
2,None,None,None,"<a href=""http://twitter.com/download/android"" ...",Twitter for Android,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[[]],{},NaN,NaN,NaN,NaN,NaN,NaN
3,None,None,"{'id': '7c8bfabd9fb82c7f', 'url': 'https://api...","<a href=""http://twitter.com/download/android"" ...",Twitter for Android,7c8bfabd9fb82c7f,https://api.twitter.com/1.1/geo/id/7c8bfabd9fb...,city,Newtownabbey,"Newtownabbey, Northern Ireland",...,United Kingdom,Polygon,"[[[-6.010881, 54.64249], [-6.010881, 54.698353...",{},NaN,NaN,NaN,NaN,NaN,NaN
4,None,None,"{'id': '28b6432fb1eac6d4', 'url': 'https://api...","<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,28b6432fb1eac6d4,https://api.twitter.com/1.1/geo/id/28b6432fb1e...,city,Northampton,"Northampton, England",...,United Kingdom,Polygon,"[[[-0.968219, 52.194932], [-0.968219, 52.28277...",{},NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,None,None,"{'id': '01c7de39d50eab15', 'url': 'https://api...","<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,01c7de39d50eab15,https://api.twitter.com/1.1/geo/id/01c7de39d50...,city,Romford,"Romford, London",...,United Kingdom,Polygon,"[[[0.140821, 51.500544], [0.140821, 51.62063],...",{},NaN,NaN,NaN,NaN,NaN,NaN
196,None,None,None,"<a href=""http://twitter.com/download/android"" ...",Twitter for Android,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,[[]],{},NaN,NaN,NaN,NaN,NaN,NaN
197,None,None,"{'id': '05563c2694a84c03', 'url': 'https://api...","<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,05563c2694a84c03,https://api.twitter.com/1.1/geo/id/05563c2694a...,city,Chester-le-Street,"Chester-le-Street, England",...,United Kingdom,Polygon,"[[[-1.620356, 54.840469], [-1.620356, 54.88191...",{},NaN,NaN,NaN,NaN,NaN,NaN
198,None,None,"{'id': '4569cb6dc10540ba', 'url': 'https://api...","<a href=""http://twitter.com/download/android"" ...",Twitter for Android,4569cb6dc10540ba,https://api.twitter.com/1.1/geo/id/4569cb6dc10...,city,Folkestone,"Folkestone, England",...,United Kingdom,Polygon,"[[[1.042592, 51.058596], [1.042592, 51.100145]...",{},NaN,NaN,NaN,NaN,NaN,NaN
199,None,None,"{'id': '208d28e57bdc12e9', 'url': 'https://api...","<a href=""http://twitter.com/download/iphone"" r...",Twitter for iPhone,208d28e57bdc12e9,https://api.twitter.com/1.1/geo/id/208d28e57bd...,admin,Wales,"Wales, United Kingdom",...,United Kingdom,Polygon,"[[[-5.353407, 51.378778], [-5.353407, 53.43009...",{},NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
for c in [
    "user",
    "screen_name",
    "followers",
    "location",
    "contributors",
    "is_quote_status",
    "quote_count",
    "reply_count",
    "retweet_count",
    "favorite_count",
    "favorited",
    "retweeted",
    "created_at",
    "in_reply_to_user_id",
    "in_reply_to_screen_name",
    "geo",
    "place",
    "coordinates",
]:
    print(c, df[c].value_counts())
    print()

user .                               3
Jimmy Angel MCCT ðŸŒ              2
Peter Sleigh                    2
Alison Ramcharran ðŸ’™ #FBPE ðŸ‡ªðŸ‡º    2
DOLLYðŸ«                          2
                               ..
Wayne77                         1
(((Joanne Harding)))            1
Leandro Ulisse                  1
Commsweek                       1
Dyfed Sion                      1
Name: user, Length: 188, dtype: int64

screen_name Goddesscoco3000    2
SEANLWOODCOCK      2
petersleigh        2
AlisonRam          2
jimmyangel3        2
                  ..
Wayne7763281292    1
Joanne13Harding    1
ulissemail         1
Commsweek          1
dyfedsion          1
Name: screen_name, Length: 190, dtype: int64

followers 65      3
705     2
3520    2
127     2
1320    2
       ..
718     1
7001    1
372     1
1818    1
131     1
Name: followers, Length: 184, dtype: int64

location None                           43
London, England                 4
Northampton, England            3
England                         3
England, United Kingdom         3
                               ..
Newcastle Upon Tyne England     1
South Africa                    1
Somewhere                       1
Aunt may - no uncle ben         1
Pontrhiwfelen                   1
Name: location, Length: 133, dtype: int64

contributors None    200
Name: contributors, dtype: int64

is_quote_status False    165
True      35
Name: is_quote_status, dtype: int64

quote_count 0    200
Name: quote_count, dtype: int64

reply_count 0    200
Name: reply_count, dtype: int64

retweet_count 0    200
Name: retweet_count, dtype: int64

favorite_count 0    200
Name: favorite_count, dtype: int64

favorited False    200
Name: favorited, dtype: int64

retweeted False    200
Name: retweeted, dtype: int64

created_at Sun Dec 19 23:02:47 +0000 2021    5
Sun Dec 19 23:04:23 +0000 2021    5
Sun Dec 19 23:03:13 +0000 2021    4
Sun Dec 19 23:03:31 +0000 2021    4
Sun Dec 19 23:04:08 +0000 2021    4
                                 ..
Sun Dec 19 23:03:52 +0000 2021    1
Sun Dec 19 23:03:51 +0000 2021    1
Sun Dec 19 23:03:46 +0000 2021    1
Sun Dec 19 23:03:34 +0000 2021    1
Sun Dec 19 23:03:38 +0000 2021    1
Name: created_at, Length: 88, dtype: int64

in_reply_to_user_id None                   116
498753368                2
144276525                2
484306823                1
16297383                 1
                      ...
2264453999               1
141008425                1
1266839367022247936      1
1399530806               1
919243071581286401       1
Name: in_reply_to_user_id, Length: 83, dtype: int64

in_reply_to_screen_name None               116
RussInCheshire       2
nmdacosta            2
TreyRoss74           1
lomasca              1
                  ...
SamiaBadani          1
AdamGSpencer         1
Rob78432495          1
LiamLivings          1
WelshFootball58      1
Name: in_reply_to_screen_name, Length: 83, dtype: int64

geo None    200
Name: geo, dtype: int64

place None                                                                                                                                                                                                                                                                                                                                                                                                                95
{'id': '0af014accd6f6e99', 'url': 'https://api.twitter.com/1.1/geo/id/0af014accd6f6e99.json', 'place_type': 'admin', 'name': 'Scotland', 'full_name': 'Scotland, United Kingdom', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-7.660857, 54.633631], [-7.660857, 60.845277], [-0.740025, 60.845277], [-0.740025, 54.633631]]]}, 'attributes': {}}       4
{'id': '28b6432fb1eac6d4', 'url': 'https://api.twitter.com/1.1/geo/id/28b6432fb1eac6d4.json', 'place_type': 'city', 'name': 'Northampton', 'full_name': 'Northampton, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-0.968219, 52.194932], [-0.968219, 52.282776], [-0.797683, 52.282776], [-0.797683, 52.194932]]]}, 'attributes': {}}         4
{'id': '5de8cffc145c486b', 'url': 'https://api.twitter.com/1.1/geo/id/5de8cffc145c486b.json', 'place_type': 'city', 'name': 'Camden Town', 'full_name': 'Camden Town, London', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-0.213503, 51.512805], [-0.213503, 51.572068], [-0.105303, 51.572068], [-0.105303, 51.512805]]]}, 'attributes': {}}          3
{'id': '6863fd050de21120', 'url': 'https://api.twitter.com/1.1/geo/id/6863fd050de21120.json', 'place_type': 'city', 'name': 'Leeds', 'full_name': 'Leeds, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-1.706057, 53.736369], [-1.706057, 53.867543], [-1.424923, 53.867543], [-1.424923, 53.736369]]]}, 'attributes': {}}                     2
                                                                                                                                                                                                                                                                                                                                                                                                                    ..
{'id': '681997964a8acebd', 'url': 'https://api.twitter.com/1.1/geo/id/681997964a8acebd.json', 'place_type': 'city', 'name': 'North Hykeham', 'full_name': 'North Hykeham, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-0.626331, 53.175306], [-0.626331, 53.218815], [-0.526709, 53.218815], [-0.526709, 53.175306]]]}, 'attributes': {}}     1
{'id': 'e59069aafae0aa25', 'url': 'https://api.twitter.com/1.1/geo/id/e59069aafae0aa25.json', 'place_type': 'city', 'name': 'South Dublin', 'full_name': 'South Dublin, Ireland', 'country_code': 'IE', 'country': 'Ireland', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-6.546814, 53.178753], [-6.546814, 53.368252], [-6.252228, 53.368252], [-6.252228, 53.178753]]]}, 'attributes': {}}              1
{'id': '12f69ad404352073', 'url': 'https://api.twitter.com/1.1/geo/id/12f69ad404352073.json', 'place_type': 'city', 'name': 'Garston', 'full_name': 'Garston, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-2.940659, 53.331287], [-2.940659, 53.38523], [-2.818002, 53.38523], [-2.818002, 53.331287]]]}, 'attributes': {}}                   1
{'id': '7bc0da87641dd821', 'url': 'https://api.twitter.com/1.1/geo/id/7bc0da87641dd821.json', 'place_type': 'city', 'name': 'Hull', 'full_name': 'Hull, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[-0.422572, 53.719616], [-0.422572, 53.812018], [-0.245313, 53.812018], [-0.245313, 53.719616]]]}, 'attributes': {}}                       1
{'id': '4569cb6dc10540ba', 'url': 'https://api.twitter.com/1.1/geo/id/4569cb6dc10540ba.json', 'place_type': 'city', 'name': 'Folkestone', 'full_name': 'Folkestone, England', 'country_code': 'GB', 'country': 'United Kingdom', 'bounding_box': {'type': 'Polygon', 'coordinates': [[[1.042592, 51.058596], [1.042592, 51.100145], [1.199004, 51.100145], [1.199004, 51.058596]]]}, 'attributes': {}}               1
Name: place, Length: 84, dtype: int64

coordinates None    200
Name: coordinates, dtype: int64