# Combining `.xlsx` Files for NLP Manual Labeling

In [1]:
%load_ext lab_black

In [2]:
from glob import glob

import pandas as pd

## About

## User Inputs

In [3]:
temp_processed_data_dir = "../data"
processed_data_dir = "../data/processed"

In [4]:
dtypes_dict = dict(
    id=pd.StringDtype(),
    text=pd.StringDtype(),
    sentiment=pd.Int32Dtype(),
)

## Get Data, Drop Last Duplicate and Re-Order

In [5]:
%%time
df_train, df_val, df_test = [
    pd.concat(
        [
            pd.read_excel(f, dtype=dtypes_dict, parse_dates=['created_at'])
            for f in glob(f"{temp_processed_data_dir}/{split_type}_*.xlsx")
        ],
        ignore_index=True,
    ).sort_values(by=['sentiment'])
    .drop_duplicates(subset=['text'], keep='first')
    .sort_index()
    for split_type in ['train', 'val', 'test']
]
display(df_train.sample(3).style.set_caption(f"Total training data for manual labeling = {len(df_train):,}"))
display(df_val.sample(3).style.set_caption(f"Total validation data for manual labeling = {len(df_val):,}"))
display(df_test.sample(3).style.set_caption(f"Total testing data for manual labeling = {len(df_test):,}"))

CPU times: user 333 ms, sys: 16.5 ms, total: 350 ms
Wall time: 348 ms

## Export to `.xlsx` File

In [6]:
inference_start_date_str = (
    glob(f"{temp_processed_data_dir}/train_*.xlsx")[0]
    .split("nlp__inference_starts")[-1]
    .split(".")[0][1:]
)
inference_start_date_str

'20220110_000000'

In [8]:
%%time
for df_split_to_export, split_type in zip([df_train, df_val, df_test], ['train', 'val', 'test']):
    fname = f"{processed_data_dir}/{split_type}_nlp__inference_starts_{inference_start_date_str}.xlsx"
    df_split_to_export.to_excel(fname, index=False)

CPU times: user 345 ms, sys: 12.4 ms, total: 357 ms
Wall time: 355 ms